In [1]:
import pandas as pd

In [2]:
df_ing = pd.read_csv('Pizza_ingredients.csv')
df_ing.head()

,pizza_name_id,pizza_name,pizza_ingredients,Items_Qty_In_Grams
0,bbq_ckn_l,The Barbecue Chicken Pizza,Barbecued Chicken,40.0
1,bbq_ckn_l,The Barbecue Chicken Pizza,Red Peppers,15.0
2,bbq_ckn_l,The Barbecue Chicken Pizza,Green Peppers,20.0
3,bbq_ckn_l,The Barbecue Chicken Pizza,Tomatoes,30.0
4,bbq_ckn_l,The Barbecue Chicken Pizza,Red Onions,60.0

In [6]:
df_sale_for = pd.read_csv('pizza_sales_forecast.csv')
df_sale_for.head()

  pizza_name_id  yhat
0     bbq_ckn_l  21.0
1     bbq_ckn_m  20.0
2     bbq_ckn_s  14.0
3    big_meat_s  37.0
4  brie_carre_s  14.0

In [7]:
# Merge sales forecast with ingredients table on 'pizza_name_id'
df_total_ingredients = df_sale_for.merge(df_ing, on='pizza_name_id', how='left')

# Calculate total ingredients needed
df_total_ingredients['Total_Qty_Required'] = df_total_ingredients['yhat'] * df_total_ingredients['Items_Qty_In_Grams']

# Group by ingredients to get the total amount required for each
df_ingredient_summary = df_total_ingredients.groupby('pizza_ingredients')['Total_Qty_Required'].sum().reset_index()

# Display final ingredient requirements
df_ingredient_summary

          pizza_ingredients  Total_Qty_Required
0              ?duja Salami              1240.0
1             Alfredo Sauce               465.0
2                 Anchovies               985.0
3                Artichokes              3565.0
4                   Arugula               385.0
..                      ...                 ...
59       Sun-dried Tomatoes               690.0
60  Thai Sweet Chilli Sauce              1280.0
61                    Thyme                70.0
62                 Tomatoes             15590.0
63                 Zucchini              1430.0

[64 rows x 2 columns]

In [10]:
df_ingredient_summary[df_ingredient_summary['pizza_ingredients'] =="Barbecued Chicken"]

   pizza_ingredients  Total_Qty_Required
8  Barbecued Chicken              1720.0

In [8]:
df_total_ingredients

,pizza_name_id,yhat,pizza_name,pizza_ingredients,Items_Qty_In_Grams,Total_Qty_Required
0,bbq_ckn_l,21.0,The Barbecue Chicken Pizza,Barbecued Chicken,40.0,840.0
1,bbq_ckn_l,21.0,The Barbecue Chicken Pizza,Red Peppers,15.0,315.0
2,bbq_ckn_l,21.0,The Barbecue Chicken Pizza,Green Peppers,20.0,420.0
3,bbq_ckn_l,21.0,The Barbecue Chicken Pizza,Tomatoes,30.0,630.0
4,bbq_ckn_l,21.0,The Barbecue Chicken Pizza,Red Onions,60.0,1260.0
...,...,...,...,...,...,...
513,veggie_veg_s,14.0,The Vegetables + Vegetables Pizza,Green Peppers,20.0,280.0
514,veggie_veg_s,14.0,The Vegetables + Vegetables Pizza,Red Onions,20.0,280.0
515,veggie_veg_s,14.0,The Vegetables + Vegetables Pizza,Zucchini,10.0,140.0
516,veggie_veg_s,14.0,The Vegetables + Vegetables Pizza,Spinach,15.0,210.0
517,veggie_veg_s,14.0,The Vegetables + Vegetables Pizza,Garlic,5.0,70.0